@media (max-width:1280px) {
    .hero__block {
        padding-top: 60px;
    }
    .hero__main-subtitle {
        margin-bottom: 15px;
        max-width: 400px;
    }
    .hero__main-title {
        margin-bottom: 15px;    
        font-size: 50px;
    }
    .hero__main-title::before {
        width: 435px;
        top: 95px;
        height: 15px;
    }
    .hero__main-title::after {
        width: 285px;
        top: 43px;
        height: 15px;
    }
    .hero__main-postitle {
        font-size: 20px;
        max-width: 280px;
        margin-bottom: 40px;
    }
    .course__information-list--item {
        font-size: 18px;
    }
    .course__information-list--item::after {
        width: 22px;
        height: 22px;
        left: 13px;
    }
    .course__information-list--item::before {
        width: 26px;
        height: 26px;
    }
    .tutor::before {
        width: 40%;
    }
    .ending__box::before {
        width: 50%;
        height: 650px;
    }
    .ending__title {
        font-size: 30px;
    }
    .author__star-2 {
        display: none;
    }
}
@media (max-width: 993px) {  
    .header__nav {
        display: none;
    }
    .header__btn {
        display: none;
    }
    .hamburger {
        display: block;
    }
    .hero__warning {
        left: 57%;
        z-index: 2;
    }
    .hero__phone-procentage {
        width: 100px;
        height: 64px;
    }
    .hero__phone-img {
        width: 329px;
        height: 394px;
    }
    .about__wrapper {
        align-items: start;
    }
    .about__vacancy {
        margin-left: 50px;
    }
    .about__box {
        margin-left: 0;
    }
    .about__information {
        padding-top: 0;
    }
    .about__title {
        font-size: 30px;
        margin-bottom: 15px;
    }
    .about__descr {
        font-size: 22px;
    }
    .about__box-title {
        margin-bottom: 20px;
    }
    .about__box-list--item {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .about__vacancy-item--title {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .about__vacancy-item--salary {
        font-size: 14px;
    }
    .about__vacancy-item {
        padding: 10px;
    }
    .course__course__information-title {
        font-size: 30px;
    }
    .course__marketpalce-cyrcle-big {
        height: 400px;
    }
    .course__marketpalce-img {
        width: 160px;
        height: auto;
    }
    .course__information-list--item {
        font-size: 16px;
    }
    .course__marketpalce-img:last-child {
        width: 260px;
        height: auto;
    }
    .course__marketpalce-img > img {
        width: 100%;
        height: 100%;
    }
    .tutor {
        margin-bottom: 80px;
    }
    .tutor::before {
        width: 60%;
    }
    .advantages__list-item {
        margin-bottom: 10px;
    }
    .advantages__list-item--number {
        font-size: 22px;
        padding: 16px;
    }
    .advantages__list-item--text {
        font-size: 16px;
    }
    .advantages__img {
        margin-bottom: 30px;
    }
    .ending__box::before {
        width: 75%;
        height: 785px;
        left: -305px;
        z-index: 1;
    }
    .ending__list {
        position: relative;
        z-index: 2;
    }
    .ending__left {
        width: 50%;
        flex-direction: column;
        gap: 10px;
    }
    .ebding__right {
        width: 50%;
    }
    .ending__box {
        padding-top: 20px;
    }
    .ending__star {
        width: 50px;
        height: 50px;
    }
    .ending__star-img {
        width: 45px;
        height: 45px;
    }
    .ending__star-img > img {
        width: 100%;
        height: 100%;
    }
    .ebding__list {
        font-size: 20px;
    }
    .ending__addition {
        font-size: 16px;
    }
    .author {
        padding: 60px 0;
    }
    .author__subtitle {
        font-size: 22px;
        margin-left: 30px;
    }
    .author__title {
        font-size: 30px;
    }
    .author__head {
        align-items: start;
    }
    .author__starbox {
        display: none;
    }
    .author__photo {
        width: 45%;
        height: auto;
    }
    .author__photo > picture {
        display: block;
        width: 100%;
        height: 100%;
    }
    .author__photo > picture > img {
        display: block;
        width: 100%;
        height: 100%;
    }
    .author__about-item {
        padding: 0;
        background-color: var(--whiteColor2);
        flex-direction: column;
        align-items: start;
        box-shadow: none;
        margin-bottom: 20px;
        gap: 10px;
    }
    .outcome__title {
        font-size: 30px;
        margin-bottom: 15px;
    }
    .outcome__list-item {
        font-size: 14px;
    }
    .outcome__img {
        width: 50%;
    }
    .certificate__subtitle {
        max-width: 760px;
        margin: 0 auto;
        margin-bottom: 15px;
    }
    .certificate__img {
        max-width: 565px;
    }
    .certificate__img > picture {
        display: block;
        width: 100%;
        height: 100%;
    }
    .certificate__img > picture > img {
        display: block;
        width: 100%;
        height: 100%;
    }
    .rate {
        padding: 60px 0;
    }
    .rate__wrapper {
        gap: 15px;
    }
    .feedback {
        padding: 120px 0;
    }
    .feedback__next, .feedback__prev {
        display: none;
    }
    .FAQ {
        padding: 60px 0;
    }
    .contacts {
        padding: 60px 0;
    }
}
@media (max-width: 769px) {   
    .header__logo {
        width: 120px;
        height: 70px;
    }
    .hero__main-subtitle {
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .hero__main-title {
        font-size: 45px;
        margin: 0 auto;
        margin-bottom: 20px;
        text-align: center;
    }
    .hero__main-title::after {
        width: 245px;
        top: 38px;
        left: 50px;
    }
    .hero__main-title::before {
        width: 415px;
        top: 90px;
        left: 100px;
    }
    .hero__main-postitle {
        margin: 0 auto;
        margin-bottom: 20px;
        max-width: 500px;
    }
    .hero__block {
        flex-direction: column;
        gap: 60px;
    }
    .hero__main-btn {
        margin: 0 auto;
    }
    .hero__phone-img {
        padding-top: 60px;
        width: 236px;
        height: auto;
    }
    .hero__warning {
        top: 100%;
        left: 70%;
    }
    .hero__warning {
        display: none;
    }
    .about {
        height: 945px;
    }
    .about__wrapper {
        flex-direction: column;
        gap: 30px;
    }
    .about__title {
        text-align: center;
        max-width: 405px;
        margin: 0 auto;
        margin-bottom: 15px;
    }
    .about__descr {
        text-align: center;
        max-width: 405px;
        margin: 0 auto;
        margin-bottom: 15px;
    }
    .about__information {
        width: 100%;
    }
    .course::before {
        display: none;
    }
    .course__wrapper {
        flex-direction: column;
    }
    .tutor {
        padding: 60px 0;
    }
    .tutor::before {
        display: none;
    }
    .tutor__wrapper {
        flex-direction: column;
        gap: 30px;
    }
    .tutor__item {
        width: 100%;
    }
    .tutor__lide-wrapper {
        flex-direction: column;
        margin-left: 0;
    }
    .ending__wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }
    .ending__box::before {
        width: 100%;
        height: 670px;
        left: -150px;
        z-index: 1;
    }
    .ending__left {
        width: 100%;
    }
    .ebding__right {
        width: 70%;
    }
    .ending__list {
        margin-bottom: 0;
    }
    .ending__addition {
        font-size: 22px;
    }
    .programms__moduls-bonus--box {
        flex-direction: column;
        margin-top: 30px;
    }
    .programms__bonus-head {
        width: 185px;
    }
    .programms__bonus-title {
        width: 50%;
    }
    .programms__bonus-lis--item {
        font-size: 14px;
    }
    .author__wrapper {
        flex-direction: column;
    }
    .author__photo {
        width: 60%;
        margin: 0 auto;
    }
    .author__about-item {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 30px;
        align-items: center;
    }
    .author__about-item--information {
        background-color: var(--whiteColor);
        box-shadow: 0px 10px 60px 0px rgba(37, 20, 66, 0.1);
        padding: 15px;
    }
    .author__starbox-1 {
        display: none;
    }
    .outcome__wrapper {
        flex-direction: column;
    }
    .outcome__left {
        width: 80%;
    }
    .outcome__img {
        width: 100%;
    }
    .rate__wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .FAQ__item {
        width: 100%;
    }
    .FAQ__item-box {
        width: 100%;
    }
    .FAQ__item-question {
        font-size: 18px;
    }
    .FAQ__item-answer {
        font-size: 14px;
    }
   
}
@media (max-width:556px) {
    .header__mail {
        display: none;
    }
    .hero__main-title::after {
        display: none;
    }
    .hero__main-title::before {
        display: none;
    }
    .hero__main-title {
        font-size: 37px;
    }
    .hero__main-btn {
       max-width: 285px;
       height: 50px;
    }  
    .course__marketpalce {
        width: 100%;
    }
    .course__information {
        width: 100%;
    }
    .advantages__wrapper {
        flex-direction: column;
        gap: 80px;
    }
    .advantages__list {
        width: 100%;
    }
    .advantages__left {
        width: 100%;
    }
    .advantages__btn {
        width: 100%;
        max-width: 100%;
    }
    .programms__moduls-item--title {
        font-size: 22px;
    }
    .programms__moduls-item--subtitle {
        font-size: 18px;
    }
    .programms__moduls-item--descr {
        font-size: 14px;
    }
    .programms__bonus-head {
        top: 5px;
    }
    .programms__bonus-title {
        width: 100%;
        margin-bottom: 20px;
    }
    .programms__btn {
        width: 100%;
        max-width: 100%;
    }
    .author__subtitle {
        font-size: 18px;
    }
    .author__photo {
        width: 80%;
    }
    .author__title {
        font-size: 22px;
    }
    .author__about-item {
        width: 90%;
        margin-bottom: 80px;
    }
    .author__about-item:last-child {
        margin-bottom: 0;
    }
    .pay {
        padding: 30px 0
    }
    .pay__title {
        font-size: 22px;
    }
    .feedback__title {
        font-size: 30px;
        max-width: 320px;
    }
    .feedback__title::before {
        width: 50%;
    }
    .FAQ__title {
        font-size: 30px;
        max-width: 150px;
    }
    .FAQ__title::before {
        width: 100%;
        left: 0;
    }
    .FAQ__item-question {
        max-width: 400px;
    }    
    .footer {
        padding: 60px 0;
    }
}
@media (max-width:450px) {
    .hero__main-subtitle {
        font-size: 16px;
    }
    .hero__main-title {
        font-size: 30px;
        text-align: left;
    }
    .hero__main-subtitle {
        font-size: 16px;
    }
    .about__bg {
        padding: 15px 0;
    }
    .about__title {
        text-align: left;
    }
    .about__descr {
        text-align: left;
    }
    .about__vacancy-item--title {
        font-size: 12px;
    }
    .about__vacancy-item--salary {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .about__vacancy {
        margin-left: 0;
    }
    .tutor__lide-info {
        padding: 15px;
    }
    .tutor__lide-info--title {
        font-size: 30px;
    }
    .tutor__lide-info--descr {
        font-size: 18px;
    }
    .tutor__lide-btn {
        width: 100%;
        max-width: 100%;
    }
    .advantages__title  {
        font-size: 26px;
    }
    .advantages__list-item--number {
        font-size: 16px;
        padding: 12px;
        width: 28px;
        height: 28px;
    }
    .advantages__chert {
        width: 220%;
        height: 30px;
        top: 0px;
    }
    .advantages__wrapper {
        gap: 15px;
    }
    .programms__moduls-item--title {
        font-size: 18px;
    }
    .programms__bonus-title {
        font-size: 18px;
    }
    .programms__bonus-head {
        height: 25px;
        font-size: 16px;
    }
    .programms__moduls-bonus--box {
        margin-top: 10px;
    }
    .ending__title {
        font-size: 22px;
    }
    .ending__list-item {
        font-size: 16px;
    }
    .ending__box::before {
        height: 600px;
        left: -190px;
    }
    .ending__wrapper {
        gap: 15px;
    }
    .ebding__right {
        width: 90%;
    }
    .ending__addition {
        font-size: 18px;
    }
    .author__photo {
        width: 100%;
    }
    .author__about-item {
        width: 100%;
    }
    .outcome {
        padding: 30px 0;
    }
    .outcome__wrapper {
        gap: 20px;
    }
    .outcome__img {
        height: auto;
    }
    .certificate {
        padding: 30px 0;
    }
    .rate__title {
        font-size: 32px;
        max-width: 120px;
        margin-bottom: 20px;
    }
    .rate__item {
        max-width: 100%;
    }
    .rate__title::before {
        content: '';
        left: 0;
        width: 100%;
        height: 15px;
    }
    .feedback {
        padding: 30px 0;
    }    
    .feedback__title::before {
        display: none;
    }
}
@media (max-width: 390px) {    
    .course {
        padding: 30px 0;
    }
    .course__course__information-title {
        font-size: 22px;
    }
    .course__information-list--item {
        padding-left: 30px;
    }
    .course__information-list--item::before {
        width: 16px;
        height: 16px;
    }
    .course__information-list--item::after {
        width: 14px;
        height: 14px;
        left: 7px;
    }
    .course__information-list--item {
        font-size: 12px;
    }
    .course__marketpalce-img {
        max-width: 120px;
    }
    .course__marketpalce-img:nth-child(2) {
        max-width: 160px;
    }
    .course__marketpalce-cyrcle-big {
        height: 310px;
    }
    .advantages__title {
        text-align: left;
    }
    .programms__moduls-item-decors-left, .programms__moduls-item-decors--right {
        display: none;
    }
    .programms__moduls-item {
        padding: 20px 30px;
        align-items: start;
    }
    .programms__moduls-item--box {
        width: 100%;
    }
    
    .programms__bonus-title {
        font-size: 16px;
    }
    .outcome__title {
        font-size: 22px;
    }
    .certificate__title {
        font-size: 22px;
        margin-bottom: 15px;
    }
    .pay {
        display: none;
    }
    .rate__item-box {
        padding: 10px;
    }
    .rate__item-title {
        padding: 5px;
        font-size: 22px;
    }
    .rate__item-descr {
        font-size: 16px;
    }
    .rate__item-price {
        font-size: 32px;
    }
    .rate__btn  {
        max-width: 100%;
        width: 90%;
    }
    .FAQ__item-question {
        font-size: 14px;
        max-width: 300px;
    }
    .FAQ__item-answer {
        padding: 10px 0;
        font-size: 12px;
    }
    .FAQ__item-close {
        width: 30px;
        height: 30px;
    }
    .contacts {
        padding: 30px 0;
    }
    .contacts__title  {
        font-size: 22px;
        max-width: 110px;
        margin-bottom: 15px;
    }
    .contacts__title::before {
        width: 100%;
        left: 0;
        height: 8px;
    } 
    .contacts__link {
        gap: 15px;
    }
    .contacts__link > span {
        font-size: 14px;
    }
    .footer__nav > ul {
        flex-direction: column;
        gap: 15px;
    }
}
@media (max-width: 360px) {
    /* .hero {
        display: none;
    }
    .about {
        display: none;
    }
    .course {
        display: none;
    }
    .tutor {
        display: none;
    }
    .advantages {
        display: none;
    }
    .programs {
        display: none;
    }
    .ending {
        display: none;
    }
    .author {
        display: none;
    }
    .outcome {
        display: none;
    }
    .certificate {
        display: none;
    }
    .rate {
        display: none;
    }
    .pay {
        display: none;
    }
    .feedback {
        display: none;
    }
    .FAQ {
        display: none;
    }
    .contacts {
        display: none;
    }
    .footer {
        display: none;
    } */
}