@media (max-width:1280px) {
    .hero__block {
        padding-top: 60px;
    }
    .hero__main-subtitle {
        margin-bottom: 15px;
        max-width: 400px;
    }
    .hero__main-title {
        margin-bottom: 15px;    
        font-size: 50px;
    }
    .hero__main-title::before {
        width: 435px;
        top: 95px;
        height: 15px;
    }
    .hero__main-title::after {
        width: 285px;
        top: 43px;
        height: 15px;
    }
    .hero__main-postitle {
        font-size: 20px;
        max-width: 280px;
        margin-bottom: 40px;
    }
    .course__information-list--item {
        font-size: 18px;
    }
    .course__information-list--item::after {
        width: 22px;
        height: 22px;
        left: 13px;
    }
    .course__information-list--item::before {
        width: 26px;
        height: 26px;
    }
    .tutor::before {
        width: 40%;
    }
    .ending__box::before {
        width: 50%;
        height: 650px;
    }
    .ending__title {
        font-size: 30px;
    }
    .author__star-2 {
        display: none;
    }
}
@media (max-width: 993px) {  
    .header__nav {
        display: none;
    }
    .header__btn {
        display: none;
    }
    .hamburger {
        display: block;
    }
    .hero__warning {
        left: 57%;
        z-index: 2;
    }
    .hero__phone-procentage {
        width: 100px;
        height: 64px;
    }
    .hero__phone-img {
        width: 329px;
        height: 394px;
    }
    .about__wrapper {
        align-items: start;
    }
    .about__vacancy {
        margin-left: 50px;
    }
    .about__box {
        margin-left: 0;
    }
    .about__information {
        padding-top: 0;
    }
    .about__title {
        font-size: 30px;
        margin-bottom: 15px;
    }
    .about__descr {
        font-size: 22px;
    }
    .about__box-title {
        margin-bottom: 20px;
    }
    .about__box-list--item {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .about__vacancy-item--title {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .about__vacancy-item--salary {
        font-size: 14px;
    }
    .about__vacancy-item {
        padding: 10px;
    }
    .course__course__information-title {
        font-size: 30px;
    }
    .course__marketpalce-cyrcle-big {
        height: 400px;
    }
    .course__marketpalce-img {
        width: 160px;
        height: auto;
    }
    .course__information-list--item {
        font-size: 16px;
    }
    .course__marketpalce-img:last-child {
        width: 260px;
        height: auto;
    }
    .course__marketpalce-img > img {
        width: 100%;
        height: 100%;
    }
    .tutor {
        margin-bottom: 80px;
    }
    .tutor::before {
        width: 60%;
    }
    .advantages__list-item {
        margin-bottom: 10px;
    }
    .advantages__list-item--number {
        font-size: 22px;
        padding: 16px;
    }
    .advantages__list-item--text {
        font-size: 16px;
    }
    .advantages__img {
        margin-bottom: 30px;
    }
    .ending__box::before {
        width: 75%;
        height: 785px;
        left: -305px;
        z-index: 1;
    }
    .ending__list {
        position: relative;
        z-index: 2;
    }
    .ending__left {
        width: 50%;
        flex-direction: column;
        gap: 10px;
    }
    .ebding__right {
        width: 50%;
    }
    .ending__box {
        padding-top: 20px;
    }
    .ending__star {
        width: 50px;
        height: 50px;
    }
    .ending__star-img {
        width: 45px;
        height: 45px;
    }
    .ending__star-img > img {
        width: 100%;
        height: 100%;
    }
    .ebding__list {
        font-size: 20px;
    }
    .ending__addition {
        font-size: 16px;
    }
    .author {
        padding: 60px 0;
    }
    .author__subtitle {
        font-size: 22px;
        margin-left: 30px;
    }
    .author__title {
        font-size: 30px;
    }
    .author__head {
        align-items: start;
    }
    .author__starbox {
        display: none;
    }
    .author__photo {
        width: 45%;
        height: auto;
    }
    .author__photo > picture {
        display: block;
        width: 100%;
        height: 100%;
    }
    .author__photo > picture > img {
        display: block;
        width: 100%;
        height: 100%;
    }
    .author__about-item {
        padding: 0;
        background-color: var(--whiteColor2);
        flex-direction: column;
        align-items: start;
        box-shadow: none;
        margin-bottom: 20px;
        gap: 10px;
    }
    .outcome__title {
        font-size: 30px;
        margin-bottom: 15px;
    }
    .outcome__list-item {
        font-size: 14px;
    }
    .outcome__img {
        width: 50%;
    }
    .certificate__subtitle {
        max-width: 760px;
        margin: 0 auto;
        margin-bottom: 15px;
    }
    .certificate__img {
        max-width: 565px;
    }
    .certificate__img > picture {
        display: block;
        width: 100%;
        height: 100%;
    }
    .certificate__img > picture > img {
        display: block;
        width: 100%;
        height: 100%;
    }
    .rate {
        padding: 60px 0;
    }
    .rate__wrapper {
        gap: 15px;
    }
    .feedback {
        padding: 120px 0;
    }
    .feedback__next, .feedback__prev {
        display: none;
    }
    .FAQ {
        padding: 60px 0;
    }
    .contacts {
        padding: 60px 0;
    }
}
@media (max-width: 769px) {   
    .header__logo {
        width: 120px;
        height: 70px;
    }
    .hero__main-subtitle {
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .hero__main-title {
        font-size: 45px;
        margin: 0 auto;
        margin-bottom: 20px;
        text-align: center;
    }
    .hero__main-title::after {
        width: 245px;
        top: 38px;
        left: 50px;
    }
    .hero__main-title::before {
        width: 415px;
        top: 90px;
        left: 100px;
    }
    .hero__main-postitle {
        margin: 0 auto;
        margin-bottom: 20px;
        max-width: 500px;
    }
    .hero__block {
        flex-direction: column;
        gap: 60px;
    }
    .hero__main-btn {
        margin: 0 auto;
    }
    .hero__phone-img {
        padding-top: 60px;
        width: 236px;
        height: auto;
    }
    .hero__warning {
        top: 100%;
        left: 70%;
    }
}
@media (max-width:556px) {
      .course {
        display: none;
    }
    .tutor {
        display: none;
    }
    .advantages {
        display: none;
    }
    .programms {
        display: none;
    }
    .ending {
        display: none;
    }
    .author {
        display: none;
    }
    .outcome {
        display: none;
    }
    .certificate {
        display: none;
    }
    .rate {
        display: none;
    }
    .pay {
        display: none;
    }
    .feedback {
        display: none;
    }
    .FAQ {
        display: none;
    }
    .contacts {
        display: none;
    }
    .header__mail {
        display: none;
    }
    .hero__main-title::after {
        display: none;
    }
    .hero__main-title::before {
        display: none;
    }
    .hero__main-title {
        font-size: 37px;
    }
    .hero__main-btn {
       max-width: 285px;
       height: 50px;
    }

     .course {
        display: none;
    }
    .tutor {
        display: none;
    }
    .advantages {
        display: none;
    }
    .programms {
        display: none;
    }
    .ending {
        display: none;
    }
    .author {
        display: none;
    }
    .outcome {
        display: none;
    }
    .certificate {
        display: none;
    }
    .rate {
        display: none;
    }
    .pay {
        display: none;
    }
    .feedback {
        display: none;
    }
    .FAQ {
        display: none;
    }
    .contacts {
        display: none;
    }
}
@media (max-width:450px) {
      .course {
        display: none;
    }
    .tutor {
        display: none;
    }
    .advantages {
        display: none;
    }
    .programms {
        display: none;
    }
    .ending {
        display: none;
    }
    .author {
        display: none;
    }
    .outcome {
        display: none;
    }
    .certificate {
        display: none;
    }
    .rate {
        display: none;
    }
    .pay {
        display: none;
    }
    .feedback {
        display: none;
    }
    .FAQ {
        display: none;
    }
    .contacts {
        display: none;
    }
    .hero__main-subtitle {
        font-size: 16px;
    }
    .hero__main-title {
        font-size: 30px;
        text-align: left;
    }
    .hero__main-subtitle {
        font-size: 16px;
    }
}